body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  margin: 2rem;
  display: flex;
}

a > img {
  width: 20px;
}

.img-container {
  width: 100%;
}

.img-container img {
  width: 50%;
  height: 500px;
}
