body {
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 9rem;
}

.text-container {
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

p {
  margin-top: 28px;
  margin-bottom: 81px;
  font-size: 22px;
}

a > img {
  width: 20px;
}

a {
  color: #fff;
  display: flex;
  text-align: center;
  background-color: #6642cd;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 280px;
}

span {
  font-size: 24px;
}

.img-container {
  width: 100%;
  background-color: lightgreen;
  height: 350px;
  border-radius: 1rem;
}

.img-container img {
  width: 350px;
  display: block;
  margin-left: auto;
  height: 450px;
  margin-right: -2.5rem;
  margin-top: -6.2rem;
  object-fit: cover;
}

@media only screen and (min-width: 1000px) {
  section {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
  }

  .text-container {
    text-align: start;
  }

  .img-container {
    height: 374px;
    width: 450px;
  }
  .img-container img {
    height: 473px;
  }
}

@media only screen and (min-width: 1300px) {
  section {
  }
}
